$clockFontSize: 70px;
$dateFontSize: 20px;

.clockText {
    font-size: $clockFontSize;
    height: $clockFontSize;
    line-height: $clockFontSize;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dateText {
    font-size: $dateFontSize;
    height: $dateFontSize;
    line-height: $dateFontSize;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}