body {
    width: max-content;
    //width: 600px;
}

.popupLayout {
    background: transparent;
}

.popupHeader {
    height: 50px;
    line-height: 50px;
    background-color: transparent;
    text-align: center;
}

.popupContent {
    background-color: transparent;
}

.popupFooter {
    height: 50px;
    line-height: 50px;
    padding: 0;
    background-color: transparent;
    text-align: center;
}

.popupCanvas {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

/*水平垂直居中*/
.alignCenter {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}