.popupLayout {
    background: transparent;
}

.popupHeader {
    height: 50px;
    line-height: 50px;
    background-color: transparent;
    text-align: center;
}

.popupContent {
    background-color: transparent;
}

.popupFooter {
    height: 50px;
    line-height: 50px;
    padding: 0;
    background-color: transparent;
    text-align: center;
}

.popupCanvas {
    width: 300px;
    height: 180px;
    object-fit: cover;
}