* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #FFFFFF;
}

/* z轴显示层数 */
.zIndexHigh {
    z-index: 2;
}

.zIndexMiddle {
    z-index: 1;
}

.zIndexLow {
    z-index: 0;
}

/*水平垂直居中*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*毛玻璃效果*/
.componentTheme {
    border-width: 0;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 10%), 0 2px 4px 1px rgb(0 0 0 / 18%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px);
    overflow:hidden;
}

/* 淡入效果 */
.maskFadeIn {
    animation-name: fadeIn;        /* 动画名称 */
    animation-duration: 0.5s;        /* 动画持续时间 */
    animation-iteration-count: 1;  /* 动画次数 */
    animation-delay: 0s;           /* 延迟时间 */
    animation-fill-mode: forwards;
    /*-webkit-animation-name: fadeIn;        !* 动画名称 *!*/
    /*-webkit-animation-duration: 3s;        !* 动画持续时间 *!*/
    /*-webkit-animation-iteration-count: 1;  !* 动画次数 *!*/
    /*-webkit-animation-delay: 0s;           !* 延迟时间 *!*/
}

.wallpaperFadeIn {
    animation-name: fadeIn;        /* 动画名称 */
    animation-duration: 2s;        /* 持续时间 */
    animation-iteration-count: 1;  /* 动画次数 */
    animation-delay: 0s;           /* 延迟时间 */
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }    /* 初始状态 */
    50% { opacity: 1; }   /* 中间状态 */
    100% { opacity: 1; }  /* 结尾状态 */
}

@-webkit-keyframes fadeIn {  /* Safari and Chrome */
    0% { opacity: 0; }    /* 初始状态 */
    50% { opacity: 1; }   /* 中间状态 */
    100% { opacity: 1; }  /* 结尾状态 */
}

/* 淡出效果 */
.maskFadeOut {
    animation-name: fadeOut;       /* 动画名称 */
    animation-duration: 0.5s;      /* 动画持续时间 */
    animation-iteration-count: 1;  /* 动画次数 */
    animation-delay: 0s;           /* 延迟时间 */
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }    /* 初始状态 */
    50% { opacity: 0; }   /* 中间状态 */
    100% { opacity: 0; }  /* 结尾状态 */
}

@-webkit-keyframes fadeOut {
    0% { opacity: 1; }    /* 初始状态 */
    50% { opacity: 0; }   /* 中间状态 */
    100% { opacity: 0; }  /* 结尾状态 */
}