@import "~antd/dist/reset.css";

$heightRegular: 100px;
$heightLarge: 300px;

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #FFFFFF;
}

.ant-layout {
    background: transparent;
}

#header {
    height: $heightRegular;
    line-height: $heightRegular;
    background-color: transparent;
    padding: 0;
}

#content {
    position: fixed;
    top: $heightRegular;
    bottom: $heightRegular;
    left: 0;
    right: 0;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    height: $heightRegular;
    line-height: $heightRegular;
    padding: 0;
}

/* z轴显示层数 */
.zIndexHigh {
    z-index: 2;
}

.zIndexMiddle {
    z-index: 1;
}

.zIndexLow {
    z-index: 0;
}

/*水平垂直居中*/
.alignCenter {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}

/*毛玻璃效果*/
.componentTheme {
    border-width: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 2px 1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    overflow: hidden;
}

/* 淡入效果 */
.wallpaperFadeIn {
    animation-name: fadeIn; /* 动画名称 */
    animation-duration: 2s; /* 持续时间 */
    animation-iteration-count: 1; /* 动画次数 */
    animation-delay: 0s; /* 延迟时间 */
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    /* 初始状态 */
    50% {
        opacity: 1;
    }
    /* 中间状态 */
    100% {
        opacity: 1;
    }
    /* 结尾状态 */
}

@-webkit-keyframes fadeIn { /* Safari and Chrome */
    0% {
        opacity: 0;
    }
    /* 初始状态 */
    50% {
        opacity: 1;
    }
    /* 中间状态 */
    100% {
        opacity: 1;
    }
    /* 结尾状态 */
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    /* 初始状态 */
    50% {
        opacity: 0;
    }
    /* 中间状态 */
    100% {
        opacity: 0;
    }
    /* 结尾状态 */
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    /* 初始状态 */
    50% {
        opacity: 0;
    }
    /* 中间状态 */
    100% {
        opacity: 0;
    }
    /* 结尾状态 */
}

/*桌面端大屏样式*/
@media screen and (min-width: 2000px) and (orientation: landscape) {
    #header {
        height: $heightLarge;
        line-height: $heightLarge;
        background-color: transparent;
    }

    #content {
        position: fixed;
        top: $heightLarge;
        bottom: $heightLarge;
        left: 0;
        right: 0;
    }

    #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: transparent;
        height: $heightLarge;
        line-height: $heightLarge;
    }
}