.searchMask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);
}

.searchInput {
    width: 750px;
    border-radius: 20px;
}

/*移动端竖屏样式*/
@media screen and (max-width: 500px) and (orientation: portrait) {
    .searchInput {
        width: 300px;
    }
}

/*移动端横屏样式*/
@media screen and (max-width: 1000px) and (orientation: landscape) {
    .searchInput {
        width: 600px;
    }
}