//.ant-image:has(.backgroundImage) {
//    position: fixed;
//    top: -1%;
//    left: -1%;
//    width: 102%;
//    height: 102%;
//}

// Firefox 暂不支持 has
.ant-image {
    position: fixed;
    top: -1%;
    left: -1%;
}

.backgroundImage {
    width: 102%;
    height: 102%;
    object-fit: cover;
}