//.ant-image:has(.backgroundImage) {
//    position: fixed;
//    top: -1%;
//    left: -1%;
//    width: 102%;
//    height: 102%;
//}

// Firefox 暂不支持 has
#backgroundImage {
    position: fixed;
    top: -1%;
    left: -1%;
}

.backgroundImage {
    width: 102%;
    height: 102%;
    object-fit: cover;
}

.backgroundCanvas {
    position: fixed !important;
    top: -1%;
    left: -1%;
    width: 102%;
    height: 102%;
    object-fit: cover;
}

.backgroundMask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* 淡入效果 */
.wallpaperFadeIn {
    animation-name: fadeIn; /* 动画名称 */
    animation-duration: 2s; /* 持续时间 */
    animation-iteration-count: 1; /* 动画次数 */
    animation-delay: 0s; /* 延迟时间 */
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    /* 初始状态 */
    50% {
        opacity: 1;
    }
    /* 中间状态 */
    100% {
        opacity: 1;
    }
    /* 结尾状态 */
}

@-webkit-keyframes fadeIn { /* Safari and Chrome */
    0% {
        opacity: 0;
    }
    /* 初始状态 */
    50% {
        opacity: 1;
    }
    /* 中间状态 */
    100% {
        opacity: 1;
    }
    /* 结尾状态 */
}

/* 淡出效果 */
.wallpaperFadeOut {
    animation-name: fadeOut; /* 动画名称 */
    animation-duration: 2s; /* 持续时间 */
    animation-iteration-count: 1; /* 动画次数 */
    animation-delay: 0s; /* 延迟时间 */
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    /* 初始状态 */
    50% {
        opacity: 0;
    }
    /* 中间状态 */
    100% {
        opacity: 0;
        display: none;
    }
    /* 结尾状态 */
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    /* 初始状态 */
    50% {
        opacity: 0;
    }
    /* 中间状态 */
    100% {
        opacity: 0;
        display: none;
    }
    /* 结尾状态 */
}