@import "~antd/dist/antd.css";

.ant-layout {
  background: transparent;
}

#header {
  height: 100px;
  line-height: 100px;
  background-color: transparent;
}

#content {
  position: fixed;
  top: 100px;
  bottom : 100px;
  left: 50px;
  right: 50px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  height: 100px;
  line-height: 100px;
  padding: 0 50px;
}

/*移动端竖屏样式*/
@media screen and (max-width: 500px) and (orientation:portrait) {
  #header, #footer {
    padding: 0 15px;
  }

  #content {
    left: 15px;
    right: 15px;
  }
}
