@import '~antd/dist/antd.css';

.ant-layout {
  background: transparent;
}

#header {
  height: 100px;
  line-height: 100px;
  background-color: transparent;
}

#content {
  position: fixed;
  top: 100px;
  bottom : 100px;
  left: 50px;
  right: 50px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  height: 100px;
  line-height: 100px;
  padding: 0 50px;
}
